# Main Postgres (for data)
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_password_here
POSTGRES_DB=ny_taxi

# Kestra Postgres (internal)
KESTRA_POSTGRES_DB=kestra
KESTRA_POSTGRES_USER=kestra
KESTRA_POSTGRES_PASSWORD=your_password_here

# Kestra UI Basic Auth
KESTRA_ADMIN_EMAIL=admin@kestra.io
KESTRA_ADMIN_PASSWORD=your_password_here
